<div class="col-span-4 md:col-start-3 md:col-span-3">
    <img class="w-96 md:w-full rounded-2xl shadow-2xl" src="images/homepage/headshot.jpg">
</div>
<div class="col-span-8 md:col-span-5">
    <h1
        class="text-2xl md:text-3xl lg:text-5xl text-left md:text-right font-bold dark:text-white leading-normal md:mb-3">
        {{ page.introLineOne }}</h1>
    <h1
        class="text-2xl md:text-3xl lg:text-5xl text-left md:text-right font-medium leading-normal md:mb-3 text-zinc-600 dark:text-zinc-400">
        {{ page.introLineTwo }}
    </h1>
    <h1
        class="text-2xl md:text-3xl lg:text-5xl text-left md:text-right font-light text-zinc-500 dark:text-zinc-500 leading-normal mb-5 md:mb-10">
        {{ page.introLineThree }}</h1>
    <p class="text-xs md:text-sm text-left md:text-right text-indigo-500 dark:text-indigo-400 font-medium">Currently
        leading <a class="transition underline-offset-4 ease-in-out hover:underline hover:text-fuchsia-400"
            target="_blank" href="{{page.currentJobURL}}">@PRTH</a></p>
</div>
