<div class="col-span-12 md:col-start-3 md:col-span-8">
    <div class="col-span-12 md:col-start-3 md:col-span-8 mt-5 py-5 px-2 border-y border-t-0 border-base-200 dark:border-base-100">
        <p class="text-zinc-500 text-md">Research Artifacts</p>
    </div>
    {% for research-artifact in site.research-artifacts %}
        <div class="flex flex-col">
            <a href="{{ research-artifact.URL }}" class="flex flex-row gap-4 py-3 px-8 border-y border-t-0 border-base-200 dark:border-base-100 hover:bg-zinc-100 hover:dark:bg-zinc-800 transition">
                <div class="basis-1 self-center">
                    <svg class="fill-zinc-500 mx-auto" xmlns="http://www.w3.org/2000/svg" height="24"
                        viewBox="0 -960 960 960" width="24">
                        <path d="M277-279h275v-60H277v60Zm0-171h406v-60H277v60Zm0-171h406v-60H277v60Zm-97 501q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"/>
                    </svg>
                </div>
                <div class="basis-full self-center">{{ research-artifact.name }}</div>
                <div class="basis-1 self-center">
                    <button class="btn btn-square btn-ghost mx-auto hover:bg-transparent">
                        <svg class="h-6 w-6 fill-blue-500 dark:fill-blue-300" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 -960 960 960">
                            <path d="M530-481 332-679l43-43 241 241-241 241-43-43 198-198Z" />
                        </svg>
                    </button>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
