
<div class="navbar bg-base-100 sticky top-0 bg-white dark:bg-gray-950 z-10 mb-0 sm:mb-10">
    <div class="flex-1">
        <a class="normal-case text-xl flex flex-col items-start" href="{{site.url}}">
            <p class="text-left font-semibold dark:text-white">{{site.title}}</p>
        </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a target="_blank" href="https://calendly.com/moduldar-design/30min?month=2025-04">Contact</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/tylerrenfro/">LinkedIn</a></li>        
      </ul>
    </div>
  </div>