<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="dark:bg-gray-950">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container mx-auto px-8 sm:px-4">
        {% include navbar.html %}
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 lg:col-start-2 lg:col-span-10 xl:col-start-3 xl:col-span-8 flex flex-col">
                <p class="uppercase tracking-widest text-xs md:text-sm text-zinc-500 dark:text-zinc-500">{{ page.caption }}</p>    
                <h1 class="leading-tight text-6xl dark:text-white font-medium my-3 md:my-5">{{ page.title }}</h1>                                
            </div>
        </div>
        <div class="grid grid-cols-12 gap-4 my-5">
          <div class="col-span-12 lg:col-start-2 lg:col-span-10 xl:col-start-3 xl:col-span-8 flex flex-col">
              <p class="text-lg md:text-xl prose max-w-full pl-7 border-l-4 border-red-600 dark:border-red-400 not-prose"><span class="font-semibold text-red-600 dark:text-red-400">Summary:</span> {{ page.summary }}</p>
              <hr class="dark:border-base-100 w-full flex mt-[4rem]">
              <div class="max-w-full prose prose-h1:text-3xl prose-h1:md:text-4xl prose-h1:lg:text-5xl prose-h1:leading-tight prose-h1:sm:leading-tight prose-h1:md:leading-tight prose-h1:lg:leading-tight prose-h1:font-normal prose-h1:mt-20 prose-h1:mb-3 prose-h1:dark:text-white prose-h2:text-2xl prose-h2:md:text-3xl prose-h2:lg:text-3xl prose-h2:font-normal prose-h2:dark:text-white prose-p:text-xl prose-p:leading-relaxed prose-li:text-xl prose-li:leading-loose prose-img:w-full">
                {{ content }}
              </div>                              
          </div>
        </div>
    </div>        
  </body>
</html>